@* Master Page *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* ViewBag Title  *@
    <title>@ViewBag.title | RazorView-ASPNET</title>
    @* CSS Framework *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
    @* Base Template Layout Page *@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RazorView ASPNET</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="font-family:sans-serif;">

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages
                            </a>
                            <div class="dropdown-menu mx-0 my-0" aria-labelledby="navbarDropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Apply Student</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="RegisterStudent">Registration Student</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SimpleMath">Simple Math</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="RazorP" asp-action="Index">RazorView Page</a>
                                <div class="dropdown-divider"></div>
                                <p class="text-center">Something else here</p>
                            </div>
                        </li>   
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @* here we render the page starting point *@
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark text-center text-dark">
        <div class="container">
            &copy; @DateTime.Now.Year - RazorView ASPNET - <a asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </footer>
    @* JavaScript Code library  *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-sweetalert/sweetalert.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
